$primary: #0A0D14;
$secondary: #FF4A00;
$text: #525866;
$soft: #868C98;
$softest: #E2E4E9;
$white: #FFFFFF;
$contrast-white: #F6F8FA;
$black: #000000;

.btn{
  padding: 8px 16px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(55, 93, 251, 0.08);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.084px;
  display: flex;
  align-items: center;
  gap: 8px;
  &.soft{
    background-color: transparent;
    border: 1px solid $softest;
    color: $soft;
    transition: 0.5s;
    &:hover{
      border-color: $secondary;
      transition: 0.5s;
    }
  }
  &.secondary{
    background-color: $secondary;
    color: $white;
    transition: 0.5s;
    &:hover{
      background-color: $soft;
      transition: 0.5s;
    }
  }
  &:hover{
    box-shadow: 0px 1px 2px 0px rgba(55, 93, 251, 0.16);
  }
}

.card {
  width: 100%;
  border: 1px solid $softest;
  border-radius: 16px;
  padding: 16px;
  header{
    display: flex;
    align-items: center;
    gap: 8px;
    .icone{
      width: 24px;
      height: 24px;
    }
    p{
      flex-grow: 1;
    }
    .btn{
      margin-left: 16px;
    }
  }
  main{
    margin-top: 16px;
    border-radius: 10px;
    header{
      background-color: $contrast-white;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 6px 10px 6px 12px;
      border-radius: 10px 10px 0 0;
      border: 1px solid $softest;
      .icon{
        width: 20px;
        height: 20px;
        &.arrow{
          margin-left: auto;
        }
      }
      p{
        color: $text;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.084px;
      }
    }
  }
}